@font-face {
  font-family: Inter;
  src:
    url(./Inter-Regular.woff2) format('woff2'),
    url(./Inter-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
    url(./Montserrat-Regular.woff2) format('woff2'),
    url(./Montserrat-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}
